@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BookingModel>
@{
    ViewData["Title"] = "Bookings";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Event</th>
            <th>Venue</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookingId</td>
                <td>@item.Event?.Title</td>
                <td>@item.Event?.Venue?.VenueName</td>
                <td>@item.StartDate.ToString("g")</td>
                <td>@item.EndDate.ToString("g")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
